<div class="header">
  <div class="logo-banner">
    <div class="dropdown">
      <img src="\assets\images\login.png" class="dropbtn">
      <div class="dropdown-content">
        <a class="logout" (click)="logout()">Cerrar sesión</a> <!-- Cambiado aquí -->
      </div>
    </div>
    <span class="welcome-message" *ngIf="username">Bienvenido, {{username}}</span>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/mi-perfil">Mi cuenta</a></li>
      <li><a routerLink="/random-match">Partido Aleatorio</a></li>
      <li><a routerLink="/liga">Mis partidos</a></li>
      <li><a href="#">Centros</a></li>
    </ul>
  </nav>
</div>