<p>liga works!</p>

<div class="liga">
    <button (click)="mostrarFormularioCrearLiga()">Crear Liga</button>
    <button>Seleccionar Liga</button>
  
    <form *ngIf="mostrarFormulario" (ngSubmit)="guardarLiga()">
      
      <mat-form-field>
        <mat-label>Nombre de la liga</mat-label>
        <input matInput [formControl]="nombreLigaControl" placeholder="Introduce el nombre de la liga">
        <mat-error *ngIf="nombreLigaControl.invalid">Este campo es obligatorio</mat-error>
      </mat-form-field>

      <div>
        <label for="numParticipantes">Número de participantes:</label>
        <select id="numParticipantes" [(ngModel)]="numParticipantes" name="numParticipantes" (change)="actualizarParticipantes()" [disabled]="nombreLigaControl.invalid">
            <option *ngFor="let num of posiblesParticipantes" [value]="num">{{num}}</option>
        </select>
      </div>

      <div *ngFor="let control of arrayParticipantes; let i = index">
        <mat-form-field>
          <input matInput type="text" [matAutocomplete]="auto" [formControl]="control">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions[i] | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
  
      <button type="submit">Finalizar/Guardar</button>
    </form>
    <!-- linea separador: -->
    <hr>
    
    <!-- <ul>
      <li *ngFor="let liga of ligas" (click)="verDetallesDeLiga(liga.nombre)">
        <h2>{{ liga.nombre }}</h2>
        <ul>
          <li *ngFor="let participante of liga.participantes">
            <p>Username: {{ participante.username }}</p>
            <p>Puntos: {{ participante.points }}</p>
          </li>
        </ul>
      </li>
    </ul> -->
    <table mat-table [dataSource]="ligas" class="mat-elevation-z8">

      <!-- Columna de nombre de la liga -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre de la liga </th>
        <td mat-cell *matCellDef="let liga"> {{liga.nombre}} </td>
      </ng-container>
    
      <!-- Columna de participantes -->
      <ng-container matColumnDef="participantes">
        <th mat-header-cell *matHeaderCellDef> Participantes </th>
        <td mat-cell *matCellDef="let liga"> 
          <div *ngFor="let participante of liga.participantes">
            {{participante.username}} ({{participante.points}} puntos)
          </div>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="verDetallesDeLiga(row.nombre)"></tr>
    </table>

</div>