/* Estilos para pantallas grandes */
@media (min-width: 1200px) {
    .padel-court {
      display: flex;
      justify-content: space-around;
    }
  }
  
  /* Estilos para pantallas medianas */
  @media (min-width: 768px) and (max-width: 1199px) {
    .padel-court {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 767px) {
    .padel-court {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .padel-court {
      display: grid;
      grid-template-columns: 1fr ;
      grid-template-rows: 0.71fr ;
      gap: 5px;
      height: 200px;
      width: 200px;
      border: 1px solid black;
      background-color: rgba(144, 238, 144, 0.3);
  
    }
    
    .part {
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .input {
      border: 1px solid rgb(134, 122, 12);
    }
  
    .header {
      background-color: skyblue;  
    }
  
    .invalid-input {
      border: 1px solid red;
    }
  
    .header-image {
      position: static;
      left: 400px;
      width: 310px; 
      height: 200px; 
  
    }
  
    .btn.btn-secondary {
      /**boton de reseteo redondo y con una flecha giratoria */
      border-radius: 50%;
      width: 35px;
      height: 35px;
      border: 1px solid rgb(206, 20, 20);
      position: relative;
      left: 100px;
      top: 5px;
    }
  
    main {
      margin-top: 20px;
    }