
<header>
    <div class="logo">
      <img class="header-image" src="assets\images\headimage.jpg" alt="Padel Barra">
        <h1>Padel Barra</h1>
        <h2>Emparejador aleatorio</h2>
        <hr>
    </div>
</header>
<main>

<form (submit)="submit()">
    <div>
      <label for="input1">Jugador 1:</label>
      <input id="input1" type="text" [(ngModel)]="inputs[0]" name="input1">
    </div>
    <div>
      <label for="input2">Jugador 2:</label>
      <input id="input2" type="text" [(ngModel)]="inputs[1]" name="input2">
    </div>
    <div>
      <label for="input3">Jugador 3:</label>
      <input id="input3" type="text" [(ngModel)]="inputs[2]" name="input3">
    </div>
    <div>
      <label for="input4">Jugador 4:</label>
      <input id="input4" type="text" [(ngModel)]="inputs[3]" name="input4">
    </div>
    <button type="submit">Submit</button>
  </form>

  <section>
    <h2>Pista de Padel</h2>
    <div class="padel-court">
      <div class="part" *ngFor="let pair of pairs; let i = index">
        <p> {{ pair[0] }} - {{ pair[1] }}</p>
      </div>
    </div>
  </section>
</main>